.home-wrapper {
    color: wheat;
    margin: 0 0 0 17.5rem;
    background: rgb(23, 23, 26);
    background: linear-gradient(90deg, rgb(49, 39, 58) 44%, rgb(68, 45, 78) 100%);
    min-height: 100vh;
}